@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --font-small: 14px;
  --font-medium: 18px;
  --base-space: 8px;
  --half-base-space: 4px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  /* color: tomato; */
  margin: calc(var(--base-space) * 2);
}

header {
  width: 100;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
}

tr {
  width: 100;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-small);
  margin: var(--base-space) 0px;
}

th {
  font-size: var(--font-small);
  font-weight: 400;
}

svg {
  width: 24px;
  height: 24px;
}

.day {
  display: flex;
  flex-direction: column;
}

.invisible {
  visibility: hidden;
}

.logo,
.icons {
  padding: var(--half-base-space) var(--half-base-space);
}

.icon {
  margin: 0px var(--half-base-space);
}

.bi-bell,
.bi-three-dots {
  font-size: var(--font-medium);
}

.arrows {
  display: flex;
  align-items: center;
}

.bi-chevron-left,
.bi-chevron-right {
  font-size: var(--font-small);
  /* font-weight: 900; */
  padding-left: calc(var(--base-space) * 2);
}

.year-month {
  font-size: var(--font-small);
  font-weight: 700;
}

.weeks {
  display: flex;
  justify-content: space-between;
  margin: var(--base-space) 5px;
  /* margin: 14px 14px 0px 14px; */
}

.week-day {
  font-weight: 400;
  font-size: var(--font-small);
}

.todo {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  padding: 0 var(--base-space);
}

.todo__goal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: tomato;
  border-radius: 50px;
  border: none;
  padding: var(--base-space);
  margin: var(--base-space) 0;
  color: white;
  font-weight: 500;
  font-size: var(--font-small);
}

#main__contents--todo {
  margin: 30px 0px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--base-space) / 2) 0px;
}

.todo__item--text {
  font-size: var(--font-small);
  font-weight: 400;
  flex: 1;
  padding: 0 var(--base-space);
}
