@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header {
    width: 100%;
    max-width: 1380px;
    margin: 0 22px;
  }

  .main {
    width: 100%;
    max-width: 1380px;
  }

  .main__contents {
    /* min-width: 700px; */
    width: 100%;
    max-width: 1500px;
    display: flex;
  }

  #main__contents--calendar,
  #main__contents--todo {
    display: inline;
  }

  #main__contents--calendar {
    width: 550px;
    margin-right: 100px;
  }

  #main__contents--todo {
    flex: 1 0 auto;
    /* flex-grow: 1; */
  }
}

body {
  font-family: "Noto Sans KR", sans-serif;
  /* color: tomato; */
  margin: 32px;
}

header {
  width: 100;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 100;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table {
  width: 100%;
}

tr {
  width: 100;
  display: flex;
  justify-content: space-between;
  font-size: small;
  margin: 4px 4px 8px 4px;
}

th {
  font-size: 20px;
  font-weight: 500;
}

.day {
  display: flex;
  flex-direction: column;
}

.invisible {
  visibility: hidden;
}

.logo,
.icons {
  padding: 4px 4px;
}

.icon {
  margin: 0px 4px;
}

.bi-bell {
  font-size: 30px;
  font-weight: 700;
}

.bi-three-dots {
  font-size: x-large;
  font-weight: 300;
}

.arrows {
  display: flex;
  align-items: center;
}

.bi-chevron-left,
.bi-chevron-right {
  font-size: 22px;
  /* font-weight: 900; */
  padding-left: 16px;
}

.year-month {
  font-size: 22px;
  font-weight: 700;
}

.weeks {
  display: flex;
  justify-content: space-between;
  margin: 14px 14px 0px 14px;
}

.week-day {
  font-weight: 400;
  font-size: 18px;
}

.todo {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.todo__goal {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: tomato;
  border-radius: 50px;
  border: none;
  padding: 16px;
  margin: 8px 0;
  color: white;
  font-weight: 700;
  font-size: large;
}

#main__contents--todo {
  margin: 40px 0px;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}

.todo__item--text {
  font-size: 22px;
  font-weight: 400;
  flex: 1;
  padding: 0 8px;
}
